<!--Saved Articles-->

<div class="container">
<div class="row justify-content-center">
    <div class="col-md-12 jumbotron text-center">
        <div class="text-center">
            <h1>All Saved Articles</h1>
        </div>
    </div>
</div>
<div class="row text-align">
    <div class="col-md-12">
        <ul class="articles">
            {{#each article}}
                <li>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-12">
                                <a href={{this.url}} target="_blank"></a>
                                <div class="card-body">
                                    <h5 class="card-title">{{this.headline}}</h5>
                                    <p class="card-text">{{this.summary}}</p>
                                    <br><br>
                                    <button type="button" class="btn btn-success" id="addNote" data-id={{this._id}} data-toggle="modal" data-target="#noteModal">Add A Note!</button>
                                    <button type="button" class="btn btn-danger" id="deleteArticleBtn" data-id={{this._id}}>Delete Article</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>

    {{!-- Modal to add/show Note --}}
    <div id="noteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center">Thoughts</h4>
        </div>
        <div class="modal-body">
            <input type="text" id="noteSubject" class="noteInput" placeholder="Subject Line">
            <input type="text" id="noteBody" class="noteInput" placeholder="Body">
        </div>
        <div class="modal-footer">
            <button type="button" id="saveNoteBtn">Save</button>
            <button type="button" id="deleteNoteBtn">Delete</button>
            <button type="button" class="close" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>


</div>
</div>